*,
*::before,
*::after {
  box-sizing: content-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    85deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(222, 220, 140, 1) 50%,
    rgba(255, 217, 138, 1) 100%
  );
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
